/* Personla Style */
body {
    margin: 0px;
    padding: 0px;
    /* background-color: rgb(206, 204, 204); */
}

.elementRnd10 {
    /* Rounded image corners */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.elementRnd5 {
    /* Rounded image corners */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.elementShadow {
    /* Add drop shadow */
    -webkit-box-shadow: 2px 2px 3px 2px rgb(107, 107, 175);
    -moz-box-shadow: 2px 2px 3px 2px rgb(107, 107, 175);
    box-shadow: 2px 2px 3px 2px rgb(107, 107, 175);
}

.elementRotate {
    /* Rotate Image */
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}

/*  header  ..................................... */
header .jumbotron {
    /* color: white; */
    opacity: 0.9;
    /* Controling the size of a jumbotron */
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.appLogoHolder {
    margin-bottom: 20px;
}

.logoImage {
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
}

.mainTitleHolder {
    margin: 35px 0px 0px 10px;
}

.mainTitle {
    font-size: 40px;
    color: black;
    font-family: 'Baloo Tammudu', cursive;
    font-size: 5em;
}

.strongLabel {
    font-weight: bold;
    color: green;
    font-size: 20px;
}

.sectionBorder {
    margin-top: 20px;
    border: 1px solid rgb(151, 218, 151);
    padding: 10px 0px 10px 0px;
}

.resultArea {
    margin-bottom: 40px;
}

.container {
    background-color: #DBE9F4;
    /* Transparent background */
    margin: 5px auto 10px auto;
}

/* Topic section ................................. */
.inputAddTopic {
    margin-top: 10px;
}

.actionBtn {
    margin-bottom: 10px;
    font-size: 18px;
    width: 200px;
}

.topicBtn {
    margin: 0px 10px 10px 0px;
    font-size: 18px;
    width: 150px;
    height: 50px;
}

/* media queries .............................. */

@media screen and (max-width: 985px)  and (min-width: 767px) {
     
    .actionBtn {
        margin-bottom: 10px;
        font-size: 23px;
        width: 190px;
    }

    .topicBtn {
        font-size: 30px;
        width: 200px;
        height: 70px;
    }

}

.userMessages {
    color: red;
    font-weight: bold;
}

.videoTitle {
    color: rgb(38, 4, 131);
    font-size: 14px;
    font-weight: bold;
}

.videoBody {
    margin: 0px 10px 10px 0px;
}

.videoBody img {
    height: 200px;
}